In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
#load_dataset
data=pd.read_csv("D:\DATA SCIENCE\ASSIGNMENTS\Hypothesis Testing\Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
#assume null hypothesis ho=defective % does not varies by centre.
#alternate hypothesis h1=defective % varies by centre.

In [4]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [8]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
#make an array for the value counts of each feature
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [11]:
result=stats.chi2_contingency(obs)
result

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
#therefore p value=0.2771 i,e greater then alpha value 0.05
#hence Null hypothesis is accepted i,e ho=defective % does not varies by centre.